*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

a{
    color: #fff;
    
} 

/*--------------- ESTILOS DEL HEADER DE SECCION CONTACTO ------------------*/

.contenedor {
    display: flex;
    justify-content: center;
    position: sticky;  
    top:2px;
    width: 100%;
    z-index: 100;  
}

.contenedor__menu {
    margin-top: 15px;
    width: 60%;
    display: flex;
    position: absolute;
    justify-content: space-between; 
    align-items: center; 
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(0,0,0.8);
    backdrop-filter: blur(10px); 
    border-radius: 50px;
}

.contenedor__menu h3{
    color: #fff;
}

.contenedor__menu--items {
    display: inline-block;
    margin-right: 20px;
}

.contenedor__menu--items li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    
}

/*----------- ESTILOS DEL FORMULARIO DE SECCION CONTACTO ---------*/

.contenedor-contacto{
    display: flex;          
    background: rgb(6, 9, 24);    
    width: 100%; 
    height: 100vh; 
    justify-content: center;
    align-items: center;   
        
}


.contenedor__contacto{
    display: flex;  
    width: 70%;         
    justify-content: center;      
    background-color: burlywood;
}

.contacto__info{
    background-color: aquamarine;
    padding: 100px;
    width: 80%; 
}

.contacto__formulario{
    background-color: #fff;
    display: flex;
    flex-direction: column;    
    padding: 100px;
    width: 80%;   

}

.contacto__formulario label {
    padding: 8px 0px;  
    text-align:left;    
}



/*------------------ ESTILOS DEL FOOTER DE SECCION CONTACTO---------------------*/

.contenedor-footer{    
    align-items: center;
    background: rgb(6, 9, 24);       
    z-index: 10;
    width: 100%;
    top: 100vh;    
    color: #fff;      
}

.contenedor__lista {   
   display: flex;  
   justify-content: center;
   list-style: none;
   width: 100%;
   
}

.contenedor__lista  li{
    margin-top: 20px;
    padding: 40px 60px;
    border-top: 2px solid #4c007d;
    border-bottom: 2px solid #4c007d;
    
}

.contenedor__lista a:hover{
    transition: all 0.3s ease;
    color: #4c007d;;
}

.contenedor-iconos {
    display: flex; 
    justify-content: center;  
    margin-top: 20px;
    padding: 40px 60px;     
}

.contenedor-iconos h6{
    align-self: center;
    margin-right: 200px;    
}

.contenedor__icon {
    display: flex;
    list-style: none;  
}

.contenedor__icon img { 
    margin: 20px; 
    width: 40px;
    height: 40px;
} 