*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

a{
    color: #fff;
    
} 

/*--------------- ESTILOS DEL HEADER DE SECCION SOBRE NOSOTROS -------------------*/

.contenedor {
    display: flex;
    justify-content: center;
    position: sticky;  
    top:2px;
    width: 100%;
    z-index: 100;  
}

.contenedor__menu {
    margin-top: 15px;
    width: 60%;
    display: flex;
    position: absolute;
    justify-content: space-between; 
    align-items: center; 
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(0,0,0.8);
    backdrop-filter: blur(10px); 
    border-radius: 50px;
}

.contenedor__menu h3{
    color: #fff;
}

.contenedor__menu--items {
    display: inline-block;
    margin-right: 20px;
}

.contenedor__menu--items li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    
}

/*----------- ESTILOS DEL SECCION SOBRE NOSOTROS
   
---------*/
main{
    background: rgb(6, 9, 24);   
}

.contenedor__sobrenosostros{
    display: flex;
    width: 100%;
    width: 100%vh;  
    height: 100vh; 
    
}

.contenedor__sobrenosotros--contenido{
    margin: auto;
    padding: auto;
    text-align: center;
}
.contenedor__sobrenosotros--parrafos h1 {
    color: antiquewhite;
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 20px;
  }


.contenedor__sobrenosotros--parrafos p{
    margin-bottom: 40px;
    color: antiquewhite;
    font-size: 30px;
}


/*estilo para las cartas de los integrantes */

.contenedor__integrantes h1{
    color: #fff;
}
.contenedor-carta{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 100px;
}

#titulo-contendor-carta{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    
}


.contenedor-carta .carta{
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
  text-align: center;
  transition: all 0.25s;
  margin: 10px;
  background-color: antiquewhite;
}


 #personaje-l:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(22, 7, 226, 0.521);
  }

  #personaje-kira:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 0, 0, 0.521);
  }

    #personaje-nose:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(248, 223, 0, 0.521);
  }
  .carta h2{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 16px;
    font-weight: 600;
  }
  
  .contenedor-carta .carta img{
    width: 330px;
    height: 220px;
  }

  .contenedor .card p{
    margin: 16px;
    padding: 0px;
    font-size: 16px;
    font-weight: 300;
  }





/*------------------ ESTILOS DEL FOOTER DE SECCION SOBRE NOSOTROS ---------------------*/

.contenedor-footer{    
    align-items: center;
    background: rgb(6, 9, 24);     
    width: 100%;
    top: 100vh;    
    color: #fff;      
    
}

.contenedor__lista {   
   display: flex;  
   justify-content: center;
   list-style: none;
   width: 100%;
   
}

.contenedor__lista  li{
    margin-top: 20px;
    padding: 40px 60px;
    border-top: 2px solid #4c007d;
    border-bottom: 2px solid #4c007d;
    
}

.contenedor__lista a:hover{
    transition: all 0.3s ease;
    color: #4c007d;;
}

.contenedor-iconos {
    display: flex; 
    justify-content: center;  
    margin-top: 20px;
    padding: 40px 60px;     
}

.contenedor-iconos h6{
    align-self: center;
    margin-right: 200px;    
}

.contenedor__icon {
    display: flex;
    list-style: none;  
}

.contenedor__icon img { 
    margin: 20px; 
    width: 40px;
    height: 40px;
} 