
*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

a{
    color: #fff;
    
} 

/*--------------- ESTILOS DEL HEADER ------------------*/

.contenedor {
    display: flex;
    justify-content: center;
    position: sticky;  
    top:2px;
    width: 100%;
    z-index: 100;  
}

.contenedor__menu {
    margin-top: 15px;
    width: 60%;
    display: flex;
    position: absolute;
    justify-content: space-between; 
    align-items: center; 
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgb(0,0,0.8);
    backdrop-filter: blur(10px); 
    border-radius: 50px;
}

.contenedor__menu h3{
    color: #fff;
}

.contenedor__menu--items {
    display: inline-block;
    margin-right: 20px;
}

.contenedor__menu--items li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    
}

/*-------------- ESTILOS DEL MAIN -------------------*/

.contenedor-principal {
    background-image:url(https://images5.alphacoders.com/104/1041799.png);
    background-size: cover;
    
    display: flex;
    position: fixed;           
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;   
}

.contenedor__element {
    text-align: center; 
    font-weight: 900;
}

.contenedor__element p {
    font-size: 100px;
    margin-bottom: 0;
    color: #fff;
    
}

.contenedor__boton{
    margin: 50px;
    display: flex;
}

.contenedor__boton h3{
    font-size: 40px;
    border: #fff solid 3px;
    border-radius: 5px;
    margin: 0px 10px;
}

.contenedor__boton h3:hover{
    transition: all 400ms ease 0.2s;
    background: black;    
}

/*------------  ESTILOS DEL SECCION CARRUCEL ---------*/

.contenedor__carrucel {
    display: flex;
    justify-content: center;
    background: rgb(6, 9, 24);
    position: relative;
    z-index: 10;
    width: 100%;
    top:100vh;
    align-items: center;
    
    /* esto esta pra hacer espacio donde iria el carrucel - BORRAR DESPUES */
    
    height: 100vh; 
    
    flex-direction: column;
}

/* Esto tambien borrar es el texto de decoracion */

.contenedor__carrucel h1 {
    margin-bottom: 20px;
    font-size: 100px;
    color: #fff;
    text-align: center;
}

/* carrusel*/


.botones {
    font-size: 30px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgba(97, 36, 133, 0.806);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(203, 12, 12, 0.7);
    z-index: 1;
    margin-top: 100px;

}

.botones:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: all .3s ease;
}

.atras {
    left: 12%;
    top: calc(50% - 70px);
}

.adelante {
    right: 12%;
    top: calc(50% - 70px);
}

.imagenCarrusel {
    transition: transform 0.2s ease;
    size: 400px;
    box-shadow: 3px 5px 16px black;

}

.imagenCarrusel:hover {
    transform: scale(1.1);
}




/*----------- ESTILOS DEL SECCION SOBRE NOSOTROS ---------*/

.contenedor__sobrenosostros{
    display: flex;
    justify-content: center;
    background: rgb(6, 9, 24);
    position: relative;
    z-index: 10;
    width: 100%;
    top:100vh;  

   /* esto esta pra hacer espacio donde iria una reseña - BORRAR DESPUES */
    
    width: 100%vh;  
    height: 100vh; 
    text-align: center;
    flex-direction: column;
}


/*------------------ ESTILOS DEL FOOTER ---------------------*/

.contenedor-footer{    
    align-items: center;
    background: rgb(6, 9, 24);
    position: relative;     
    z-index: 10;
    width: 100%;
    top: 100vh;    
    color: #fff;      
}

.contenedor__lista {   
   display: flex;  
   justify-content: center;
   list-style: none;
   width: 100%;
   
}

.contenedor__lista  li{
    margin-top: 20px;
    padding: 40px 60px;
    border-top: 2px solid #4c007d;
    border-bottom: 2px solid #4c007d;
    
}

.contenedor__lista a:hover{
    transition: all 0.3s ease;
    color: #4c007d;;
}

.contenedor-iconos {
    display: flex; 
    justify-content: center;  
    margin-top: 20px;
    padding: 40px 60px;     
}

.contenedor-iconos h6{
    align-self: center;
    margin-right: 200px;    
}

.contenedor__icon {
    display: flex;
    list-style: none;  
}

.contenedor__icon img { 
    margin: 20px; 
    width: 40px;
    height: 40px;
} 























